*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.body {
  display: flex;
  flex-direction: column;
}

.search-form__fieldset {
  border: none;
}

.content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.search-form__checkbox-list {
  display: flex;
  padding-bottom: 5px;
}

.search-form__label-text {
  appearance: none;
}

.search-form__label {
  display: inline-flex;
  justify-content: center;
  width: fit-content;
}

.search-form__label:not(:last-child) {
  margin-right: 15px;
}

.search-form__textfield {
  width: 225px;
  min-height: 27px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

::placeholder {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  opacity: 0.7;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  margin-top: 2px;
  border: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.button {
  border: 1px solid currentColor;
  color: #fff;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.more-button {
  width: 399px;
  height: 34px;
  margin-bottom: 4px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-bottom: 22px;
}

.content__list {
  display: block;
  width: 394px;
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
/* overflow-x:hidden - единственный способ убрать горизональный скролл, 
который я смогла придумать, не нарушая целостность размеров из макета.
В связи с появлением вертикального скролла справа часть карточки "съедается", 
что вызывает горизонтальный скролл. В макете и данных размерах вертикальный скролл не учтен */

.content__details {
  width: 399px;
  padding-bottom: 17px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 14px;
}

.result {
  width: 711px;
  padding-top: 58px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 398px;
  height: 107px;
  padding: 2px;
  margin-right: 1px;
  text-decoration: none;
  color: #fff;
}

.content__card-link {
  display: block;
  width: 398px;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-description-container {
  width: 200px;
  height: 101px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2px;
}

.content__video-card-description {
  line-height: 1.1;
  font-weight: 200;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  text-underline-offset: 5px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  display: block;
  outline: 1px solid #fff;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.result__video:hover {
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 9px;
  margin-top: 4px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}
